* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}
.body-section {
  max-width: 1600px;
  min-height: 2908px;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.navbar ul li {
  list-style: none;
  font-family: "Inter";
}
.navbar ul {
  display: flex;
  gap: 32px;
}
.nav-btn {
  border-radius: 4px;
  border-style: none;
  padding: 12.5px 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 145, 101, 1);
}
.nav-btn:hover {
  cursor: pointer;
}
/* main body */
/* section-1 */
.circle1 {
  background-color: #208148;
  border-radius: 8px;
  height: 6px;
  width: 6px;
}
.circle2 {
  background-color: #4eba7b;
  border-radius: 8px;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle3 {
  background-color: #94d7b0;
  border-radius: 8px;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-texts-1 {
  color: rgba(70, 145, 101, 1);
  font-size: 16px;
  width: 183px;
  height: 19px;
  font-weight: 500;
}
.hero-texts-2 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
}
.hero-texts-3 {
  color: rgba(70, 145, 101, 1);
  font-size: 72px;
  margin-bottom: 16px;
}
.hero-texts-4 {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  margin-bottom: 84px;
}
.logo-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 229px;
  height: 35px;
  background-color: white;
  border-radius: 1000px;
  padding: 8px 12px 8px 12px;
  margin: 154.5px 0px 16px 0px;
}
.hero-container {
  background-image: url(./assets/hero-bg.png);
  width: 100%;
  height: 771px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn1,
.btn2 {
  font-weight: 600;
  font-size: 16px;
  width: 251px;
  color: white;
  height: 52px;
  border-style: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: rgba(70, 145, 101, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn1 img {
  margin-left: 10px;
}
.btn2 img {
  margin-right: 10px;
}
.btn2 {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
}
.section-1-btn {
  margin-bottom: 179.5px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1:hover,
.btn2:hover {
  cursor: pointer;
}
/* section-2 */
/* cards */
.section-2 {
  background-color: whitesmoke;
}
.cards img {
  width: 32px;
  height: 32px;
  background-color: #f95555;
}
.brain {
  padding: 16.11px 14.83px 17.9px 14.17px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
}
.cards {
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0px 120px;
}
.card-container h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 24px;
}
#notes {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-top: 116px;
}

#section-2-p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgba(98, 115, 130, 1);
  padding: 16px 0px 44px 0px;
}
/* section-3 */
.section-3 {
  margin: 120px;
}
.checkcircle-and-text {
  display: flex;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.section-3-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.section-3-image {
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.solution {
  font-size: 16px;
  font-weight: 500;
  color: rgba(70, 145, 101, 1);
}
.section-3-text {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.section-3-text p {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 60px;
}
/* section-4 */
.section-4-title {
  font-size: 40px;
  font-weight: 700;
}
.section-4-container p {
  color: rgba(98, 115, 130, 1);
}
.section-4-container {
  background-color: rgba(247, 246, 242, 1);
  display: flex;
  flex-direction: column;
  margin: 0px 120px 120px 120px;
  border-radius: 12px;
  padding: 80px 40px 80px 40px;
  gap: 24px;
  text-align: center;
  align-items: center;
}
.getearly-btn {
  display: flex;
  width: 194px;
  height: 52px;
  border-radius: 4px;
  border-style: none;
  padding: 12.5px 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 145, 101, 1);
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.getearly-btn:hover {
  cursor: pointer;
}
.getearly-img {
  margin-top: 5px;
}
/* section-5 */
.footer-container-card {
  /* background-color: rgba(0, 25, 49, 1); */
  /* height: 348px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
}
.footer-container {
  background-color: rgba(0, 25, 49, 1);
  height: 348px;
  color: rgba(229, 231, 235, 1);
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.footer-container-img2 p {
  margin-bottom: 16px;
}
.line {
  margin: 0px 120px;
  border: 1px solid rgba(229, 231, 235, 0.3);
}
.footer-copyright {
  margin: 30px 120px;
}
